/.venv/
__pycache__/
*.pyc

/baserom/*
!/baserom/.gitkeep

/asm/**
!/asm/cod/
!/asm/cod/.gitkeep

/assets/**
!/assets/cod/
!/assets/cod/.gitkeep

/build/*
!/build/.gitkeep

/config/auto/*
!/config/auto/.gitkeep
/config/SLES_556.05.ld

/tools/mwccps2/*
!/tools/mwccps2/.gitkeep

/tools/bin/wibo
/tools/objdiff-cli
/config/SLES_556.05.d
